@mixin responsive($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 42em) {
      // 608px
      @content;
    }
  }
  @if $breakpoint == tab-port {
    @media (max-width: 58.625em) {
      // 950px
      @content;
    }
  }
  @if $breakpoint == tab-land {
    @media (max-width: 73.5em) {
      // 1176px
      @content;
    }
  }
  @if $breakpoint == desktop {
    @media (max-width: 90em) {
      // 1440px
      @content;
    }
  }
  @if $breakpoint == big-desktop {
    @media (min-width: 112.5em) {
      // 1800px
      @content;
    }
  }
}
@mixin alignItemIcon {
  & {
    position: absolute;
    top: 0;
    right: 5%;
    z-index: 1;
  }
}
