@import "./mixins";
@import "./variables";

html {
  font-size: 62.5%;
}
body {
  font-family: $font-family;
  background-color: $color-neutral-light-gray;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  margin: 12% 34%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  border-radius: 1rem;
  overflow: hidden;
  @include responsive(desktop) {
    margin: 15% 20%;
  }
  @include responsive(tab-land) {
    margin: 15%;
  }
  @include responsive(tab-port) {
    margin: 15% 5%;
  }
  @include responsive(phone) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    // grid-template-rows: repeat(auto-fit, minmax(0, max-content));
    margin: 15% 5%;
  }
  &__title {
    color: $color-primary-cyan;
    font-weight: $font-weight-bold;
    font-size: 2.8rem;
    // margin-bottom: 1.8rem;
  }
  &__subtitle {
    font-weight: $font-weight-bold;
    font-size: 2.2rem;
    // margin-bottom: 1.8rem;
    &--yellow {
      color: $color-primary-bright-yellow;
    }
  }
  &__paragraph {
    font-size: $font-size-body;
    color: $color-neutral-grayish-blue;
    line-height: 1.8;
  }
  &__price {
    // margin-top: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1.2rem;
    // margin-bottom: 1rem;
    &-info {
      font-size: $font-size-body;
    }
  }
  &__number {
    font-size: 3.2rem;
    font-weight: $font-weight-bold;
  }
  &__renew {
    font-size: 1.8rem;
    opacity: 0.5;
  }
  &__list {
    margin-top: 1.8rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
    &-item {
      font-size: $font-size-body;
      opacity: 0.75;
      font-weight: $font-weight-regular;
    }
  }
  &__box {
    padding: 3rem;
    &--1 {
      grid-column: 1 / -1;
      grid-row: 1 / 2;
      background-color: $color-neutral-white;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      gap: 1.8rem;
    }
    &--2 {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      color: $color-neutral-light-gray;
      background-color: $color-primary-cyan;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      gap: 1rem;
    }
    &--3 {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      background-color: rgba($color-primary-cyan, 0.75);
      color: $color-neutral-light-gray;
      @include responsive(phone) {
        grid-column: 1 / -1;
        grid-row: 3 / 4;
      }
    }
  }
}
.button {
  border: none;
  background: none;
  align-self: stretch;
  margin-top: 4.2rem;
  // justify-content: center;
  font-weight: $font-weight-bold;
  padding: 1.2rem;
  border-radius: 0.5rem;
  letter-spacing: 1px;
  box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.15);
  cursor: pointer;
  &--sign-up {
    background-color: $color-primary-bright-yellow;
    color: $color-neutral-white;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;

  & a {
    color: hsl(228, 45%, 44%);
  }
}
